@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFD308;
    --primary-dark: #FFC107;
    --muted: #6c6c6c;
    --bg-color: #fbfaf7;
    --primary-font: "Poppins", sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font) !important;
}

body {
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.form-control,
.form-select {
    cursor: pointer;
}

.form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.27rem #FFC10740 !important;
}

.form-select:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.27rem #FFC10740 !important;
}

.naytri-btn {
    background: linear-gradient(90deg, var(--primary-color), var(--primary-dark));
    color: #fff;
    border: none;
    border-radius: var(--radius-md);
    padding: 10px 14px;
    font-weight: 700;
    box-shadow: 0 10px 30px rgba(246, 184, 47, 0.12);
    border-radius: 8px;
    transition: .4s ease-in-out;
}

.naytri-btn:hover {
    box-shadow: 0 0 20px #ffd20868;
    filter: brightness(105%);
}